/* Стили для всего документа html, body */

/* Стили для header 1 линия*/
.header__a-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 46px;
    background-color: rgba(241, 243, 247, 1);
}
.a-line__select {
    display: inline-block;
    border: none;
    margin-top: 18px;
    margin-left: 316px;
}
select {
    width: 101px;
    height: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(27, 29, 50, 1);
    background-color: rgba(241, 243, 247, 1);
}
select:focus{
    outline: none;
}
/* Лупа */
.search__container{
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.search__container input#search{
    width: 20px;
    height: 20px;
    background-color: rgba(241, 243, 247, 1);
    border: none;
    font-size: 15px;
    color: rgba(51, 193, 204, 1);
    padding-left: 15px;
}
.search__container .icon{
    position: absolute;
    top: 50%;
    margin-left: 5px;
    z-index: 1;
}
.search__container input#search:focus, .search__container input#search:active {
outline: none;
width: 150px;
}
.search__container:hover input#search{
    width: 150px;
}
/* Кнопка Интернет-магазин */
.image-wrapper{
    display: inline-block;
    width: 220px;
    height: 46px;
    overflow: hidden;
    margin-right: 315px;
}
.image-wrapper__img{
    width: 100%;
    height: auto;
}



/* Стили для header 2 линия */

/* Стили для header 3 линия menu */

/* Стили для main */

/* Стили для main Центр зрения ДОКТОР ЛИНЗ */

/* Стили для main Сервис клиники ДОКТОР ЛИНЗ */

/* Стили для main С какими заболеваниями мы работаем */

/* Стили для main Наши врачи */

/* Стили для main Запишитесь на прием 1 */

/* Стили для main О клинике */

/* Стили для main Лицензия */

/* Стили для main Мы в рейтингах */

/* Стили для main Отзывы*/

/* Стили для main Запишитесь на прием 2*/

/* Стили для main Ночные линзы */

/* Стили для main Преимущества выбора ночных линз */

/* Стили для main Где нас найти (на карте)*/

/* Стили для footer */

/* Другие стили и классы */
