/* Стили для всего документа html, body */
body {
  width: 100%;
  font-family: "Muller Regular";
}

@font-face {
  font-family: "Muller Regular";
  src: url("/fr83_block1_gr2/assets/fonts/Muller\ Regular/Muller Regular.ttf")
    format("truetype");
}

/* Стили для header 1 линия*/
.header__a-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 46px;
  background-color: rgba(241, 243, 247, 1);
}
.a-line__dropdown-button {
  width: 101px;
  height: 15px;
  background-color: rgba(241, 243, 247, 1);
  color: rgba(27, 29, 50, 1);
  font-size: 15px;
  line-height: 24px;
  border: none;
  margin-top: 18px;
  margin-left: 316px;
  padding: 0;
  box-sizing: border-box;
}
.a-line__dropdown-menu {
  position: relative;
  display: inline-block;
}
.a-line__dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(241, 243, 247, 1);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.a-line__dropdown-content a {
  color: rgba(27, 29, 50, 1);
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
/* Изменение цвета выпадающих ссылок при наведении курсора */
.a-line__dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.a-line__dropdown-menu:hover .a-line__dropdown-content {
  display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.a-line__dropdown-menu:hover .a-line__dropdown-button {
  background-color: rgba(241, 243, 247, 1);
}

/* Лупа */
.search__container {
  width: 20px;
  position: relative;
  margin-left: 1331px;
}
.search__container input#search {
  width: 20px;
  height: 20px;
  background-color: rgba(241, 243, 247, 1);
  border: none;
  font-size: 15px;
  color: rgba(51, 193, 204, 1);
  padding-left: 50px;
}
.search__container .icon {
  position: absolute;
  top: 50%;
  margin-right: 0px;
  z-index: 1;
  margin-right: 13px;
}
.search__container input#search:focus,
.search__container input#search:active {
  outline: none;
  width: 150px;
}
.search__container:hover input#search {
  width: 150px;
}
/* Кнопка Интернет-магазин */
.a-line__image-wrapper {
  display: inline-block;
  width: 220px;
  height: 46px;
  overflow: hidden;
  margin-right: 315px;
}
.image-wrapper__btn {
  width: 100%;
  height: auto;
}

/* Стили для header 2 линия */
.second_line_header {
  display: grid;
  grid-template-columns: 30% 1fr 1fr 1fr 10%;
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.second_line_icon {
  padding-left: 50px;
}
.second_line_signup_button {
  width: 220px;
  height: 50px;
  background: linear-gradient(90deg, #0c669c 0%, #3bbac2 100%);
  box-shadow: 0px 4px 10px 0px #106d9f57;
  text-align: center;
  padding-top: 20px;
  color: white;
  align-items: end;
}
.second_line_hours {
  text-align: center;
  padding-top: 20px;
}
.second_line_contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-right: 20px;
  justify-self: end;
}
.contact_phone_number {
  font-size: 22px;
  font-weight: bold;
}
.contact_callback {
  color: rgba(2, 142, 206, 1);
}
.second_line_social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.whatsap_icon {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  align-content: center;
}
.telegram_icon {
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

/* Стили для header 3 линия menu */
nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 0 0 0 0;
  text-align: center;
  @font-face {
    font-family: "Muller regular";
    src: url;
  }
  font-size: 20px;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 0;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

nav.primary-navigation li a {
  color: black;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 450px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

a {
  text-decoration: none;
}

/* Стили для main */

/* Стили для экрана 1 Центр зрения ДОКТОР ЛИНЗ */
.main__screen_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(90deg, #0c669c 0%, #3bbac2 100%);
  width: 100vw;
  height: 637px;
}
.screen_1__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 607px;
  background-image: url(../assets/images/d37c4eec8a67424a0ac45572ee0ddc5f-1-removebg-preview\ 1.png);
  background-position: top 30px left 733px; /* позиционируем фоновое изображение */
  background-repeat: no-repeat; /* убираем повторение фото */
}
/* Левый slider */
.screen_1__image-wrapper_left {
  display: inline-block;
  width: 28px;
  height: 14px;
  overflow: hidden;
  margin-left: 68px;
  margin-top: 276px;
}
.screen_1__image-wrapper_right {
  display: inline-block;
  width: 28px;
  height: 14px;
  overflow: hidden;
  margin-right: 47px;
  margin-top: 276px;
}
.image-wrapper__slider {
  width: 100%;
  height: auto;
}
/* Основное содержание экрана 1 */
.screen_1__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 117px;
  color: rgba(255, 255, 255, 1);
}
.screen_1__wrapper_promo {
  display: inline-block;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 117px;
}
.screen_1__item {
  line-height: 0vmin;
}
.item__bg {
  font-size: 46px;
  font-weight: 500;
}
.item__sm {
  font-size: 16px;
  font-weight: 400;
}
/* Стили для экрана 2 Сервис клиники ДОКТОР ЛИНЗ */
.main__screen_2 {
  display: flex;
  justify-content: center;
  height: 868px;
  width: 100vw;
}
.screen_2__section {
  width: 1290px;
  height: 648px;
  margin-top: 119px;
}
.screen_2__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgba(42, 38, 81, 1);
  margin-top: 0;
  margin-bottom: 40px;
}
.screen_2__content1 {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(630px, 1fr)
  ); /* Блоки растянуты по ширине экрана */
  gap: 30px;
}
.screen_2__content2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(406px, 1fr));
  gap: 30px;
}
.docs {
  background: linear-gradient(90deg, #0c669c 0%, #3bbac2 100%);
  color: rgba(255, 255, 255, 1);
  background: url(../assets/images/Rectangle\ 234.svg);
  background-position: top 10x left 10px;
  background-repeat: no-repeat;
  padding: 40px;
  height: 310px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.servs {
  background-color: rgba(12, 102, 156, 1);
  color: rgba(255, 255, 255, 1);
  background: url(../assets/images/Rectangle\ 234_2.svg);
  background-position: top 10x left 10px;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.lens,
.diagn,
.optics {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #0c669c 0%, #3bbac2 100%);
  color: rgba(255, 255, 255, 1);
  padding: 40px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 6px;
}
.screen_2__button {
  width: 190px;
  height: 46px;
  background-color: rgba(57, 182, 192, 1);
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  border: none;
  margin-top: 20px;
}
.slider_img {
  margin-left: 8px;
  width: 20px;
  height: 10px;
}
img.content2_img {
  width: 3.7rem;
  height: 3.7rem;
}
#img_bg {
  width: 5rem;
  height: 5rem;
}
h2.docs__title,
.servs__title {
  width: 321px;
  height: 46px;
}
p.docs__desc,
.servs__desc {
  width: 360px;
  height: 70px;
}

/* Стили для экрана 3 С какими заболеваниями мы работаем */
.screen_3_image_info {
  background-image: url(../assets/images/Глаз.png);
  background-size: cover;
  object-fit: cover;
  background-position: center; /* центрирует изображение в контейнере */
  height: 1000px;
  width: 100vw;
  top: 1713px;
}

/* Стили для экрана 4 Наши врачи */
.screen_4 {
  background-image: url("../assets/images/bg.svg");
  background-size: cover;
  object-fit: cover;
  background-position: center; /* центрирует изображение в контейнере */
  height: 780px;
  width: 100vw;
}
.block1 {
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
  color: #2a2651;
}
.block2 {
  text-align: center;
  padding-top: 25px;
  color: #757aa4;
}
.container1 {
  display: flex;
  height: 470px;
  margin-top: 50px;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.doctor {
  display: flex;
  align-items: center;
  width: 25vw;
  height: 90px;
  background-color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  justify-content: center;
  border-radius: 6px;
}
.doctor1 {
  margin-left: 20px;
}
.fio1 {
  color: #33c1cc;
  font-size: 15px;
}
.fio2 {
  color: #1b1d32;
  font-size: 15px;
}
.doctor2 {
  color: #7e83ae;
  font-size: 13px;
}
.block3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.image_circle {
  width: 60px;
  height: 60px;
  background-image: url("../assets/images/button_circle.svg");
  background-size: cover;
  border-radius: 30px;
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении на */
}
.image_circle2 {
  width: 60px;
  height: 60px;
  background-image: url("../assets/images/button circle2.svg");
  background-size: cover;
  border-radius: 30px;
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении на */
}
.blok4 {
  display: grid;
  grid-template-areas:
    "a a a d d d d d"
    "a b b b b b b c"
    "a b b b b b b c"
    "d d d d d c c c";
  gap: 10px; /* Опциональный зазор между блоками */
  width: 875px;
  height: 470px;
  margin-top: 40px;
}
.rect1 {
  grid-area: a; /* Размещение блока 1 в области "a" */
  border-radius: 10px;
}
.container2 {
  display: flex;
  width: 850px;
  height: 450px;
  grid-area: b; /* Размещение блока 2 в области "b" */
  background-color: white;
  border-radius: 20px;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.rect2 {
  grid-area: c; /* Размещение блока 3 в области "c" */
  border-radius: 10px;
}
.foto {
  margin-left: 50px;
}
.text {
  margin-left: 40px;
}
.fio3 {
  color: #1b1d32;
  font-size: 20px;
  font-weight: bold;
}
.experience {
  margin-top: 10px;
  margin-bottom: 10px;
}
.video-card {
  display: inline-flex;
  justify-content: center;
  margin-top: 40px;
}
.image-button1 {
  width: 26px;
  height: 26px;
  background-image: url("../assets/images/play-button.svg"); /* Путь к изображению */
  background-size: cover; /* Растягивает изображение, чтобы оно занимало всю площадь кнопки */
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении на кнопку */
}
.image-button4 {
  width: 160px;
  height: 46px;
  margin-right: 40px;
  background-image: url("../assets/images/btn4_4.svg");
  background-size: cover;
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении на кнопку */
}
.number_card {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* Стили для экрана 5 Запишитесь на прием 1 */
.screen_5 {
  display: flex;
  background-image: url("../assets/images/bg_5.svg");
  background-size: cover;
  background-position: center; /* центрирует изображение в контейнере */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;
  height: 526px;
  width: 100vw;
}
.column_left {
  width: 30%;
  height: 307px;
  margin-right: 200px;
  justify-content: center;
  align-items: center;
}
.zag {
  font-size: 36px;
  color: #ffffff;
}
.text1 {
  font-size: 20px;
  color: #ffffff;
}
.text2 {
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
}
.form {
  display: flex;
  width: 40%;
  height: 390px;
  margin-left: 90px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}
.form_internal {
  width: 95%;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.make {
  margin-left: 40px;
}
.form-control {
  width: 270px;
  height: 50px;
  margin: 7px;
  font-size: 12px;
  color: #7e83ae;
  border-radius: 6px;
  border: none;
  background: linear-gradient(to bottom, #c9d2ea, #ffffff);
}
.form-control1 {
  width: 560px;
  height: 50px;
  margin-left: 10px;
  font-size: 12px;
  color: #7e83ae;
  border-radius: 6px;
  border: none;
  background: linear-gradient(to bottom, #c9d2ea, #ffffff);
}
.form-control2 {
  width: 270px;
  height: 50px;
  margin-left: 7px;
  font-size: 12px;
  color: #7e83ae;
  border-radius: 6px;
  border: none;
  background: linear-gradient(to bottom, #c9d2ea, #ffffff);
}
.image-button5 {
  width: 230px;
  height: 50px;
  background-image: url("../assets/images/btn_5.svg");
  background-size: cover;
  border: none; /* Убираем границу кнопки */
  cursor: pointer;
}
.politic {
  font-size: 12px;
  color: #7e83ae;
  margin-left: 10px;
}

/* Стили для экрана 6 О клинике */
.about_clinic_title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: rgba(42, 38, 81, 1);
}
.about_clinic_nav{
  display: grid;
  grid-template-columns: 1fr 10% 10% 10% 1fr;
  gap: 10px;
  padding-top: 20px;
}
.video_button{
  box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
  height: 40px;
  width: 120px;
  border-radius: 3px;
  grid-column: 2;
  text-align: center;
  padding: 5px;
  color: rgba(42, 38, 81, 1);
}
.photo_button{
  height: 40px;
  width: 120px;
  border-radius: 3px;
  grid-column: 3;
  text-align: center;
  padding: 5px;
  background: linear-gradient(90deg, #0C669C 0%, #3BBAC2 100%),
  linear-gradient(0deg, #39B6C0, #39B6C0);
  box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
  color: white;
}
.tour_button{
  box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
  height: 40px;
  width: 120px;
  border-radius: 3px;
  grid-column: 4;
  text-align: center;
  padding: 5px;
  color: rgba(42, 38, 81, 1);
}
.about_clinic_main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  padding-top: 20px;
}
.about_clinic_main_text{
  font-size: 1.3em;
  color: rgba(109, 118, 140, 1);
}
.more_button{
  height: 50px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  padding-top: 20px;
  background: linear-gradient(90deg, #0C669C 0%, #3BBAC2 100%),
  linear-gradient(0deg, #39B6C0, #39B6C0);
  box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
  color: white;
}
.about_clinic_extrainfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  align-items: center;
  font-size: 1.3em;
  gap:10px;
 
}
.info1{
  grid-column: 1;
}
.info2{
  grid-column: 2;
}
.info3{
  grid-column: 3;
}
.info4{
  grid-column: 4;
}
.info_title{
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  color: rgba(42, 38, 81, 1);
}
.info_icon{
  padding-left: 150px;
}
.info_text{
  text-align: center;
  padding-top: 20px;
  color: rgba(109, 118, 140, 1);
  font-size: 1em;
}
.about_clinic_main_photo{
  padding-left: 40px;
}
/* Стили для экрана 7 Лицензия */
.license{
  background: linear-gradient(270.08deg, #DEEDF6 0.08%, #F9FBFF 99.95%);
  display: grid;
  grid-template-columns: 70% 30%;
  padding-top: 30px;
  padding-left: 100px;
}
.license_title{
  font-weight: bold;
  font-size: 2em;
  grid-column: 1;
  color: rgba(42, 38, 81, 1);
}
.license_promotext{
  font-size: 1.3em;
  grid-column: 1;
  color: rgba(109, 118, 140, 1);
}
.license_pic{
  grid-column: 2; 
}
.license_info{
  padding-top: 30px;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
.license_info_text1{
  grid-column: 1;
  font-size: 1.3em;
  color: rgba(109, 118, 140, 1);
}
.license_info_text2{
  grid-column: 2;
  font-size: 1.3em;
  color: rgba(109, 118, 140, 1);
}
.license_info_text3{
  grid-column: 3;
  font-size: 1.3em;
  color: rgba(109, 118, 140, 1);
}
/* Стили для экрана 8 Мы в рейтингах */

/* Стили для экрана 9 Отзывы*/

/* Стили для экрана 10 Запишитесь на прием 2* - аналогичны стилям экрана 5*/
.screen_10 {
  display: flex;
  background-image: url("../assets/images/bg10.svg");
  background-size: cover;
  background-position: center; /* центрирует изображение в контейнере */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;
  height: 526px;
  width: 100vw;
}

/* Стили для экрана 11 Ночные линзы */

/* Стили для экрана 12 Преимущества выбора ночных линз */

/* Стили для экрана 13 Где нас найти (на карте)*/

/* Стили для footer */

/* Другие стили и классы */
