/* Стили для всего документа html, body */

/* Стили для header 1 линия*/
.header__a-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 46px;
    background-color: rgba(241, 243, 247, 1);
}
.a-line_select {
    display: inline-block;
    border: none;
    margin-top: 18px;
    margin-left: 316px;
    background-color: rgba(241, 243, 247, 1);
}

/* Стили для header 2 линия */

/* Стили для header 3 линия menu */

/* Стили для main */

/* Стили для main Центр зрения ДОКТОР ЛИНЗ */

/* Стили для main Сервис клиники ДОКТОР ЛИНЗ */

/* Стили для main С какими заболеваниями мы работаем */

/* Стили для main Наши врачи */

/* Стили для main Запишитесь на прием 1 */

/* Стили для main О клинике */

/* Стили для main Лицензия */

/* Стили для main Мы в рейтингах */

/* Стили для main Отзывы*/

/* Стили для main Запишитесь на прием 2*/

/* Стили для main Ночные линзы */

/* Стили для main Преимущества выбора ночных линз */

/* Стили для main Где нас найти (на карте)*/

/* Стили для footer */

/* Другие стили и классы */
